{:aliases {:fig {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.773"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.8"}
                              cljs-ajax {:mvn/version "0.8.0"}
                              com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
                              re-frame {:mvn/version "1.0.0-rc2"}
                              reagent {:mvn/version "1.0.0-alpha2"}}
                 :extra-paths ["target" "cljs-src"]}

           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "prod"]}

           :graph {:deps {org.clojure/tools.deps.graph {:mvn/version "0.2.30"}}
                   :main-opts ["-m" "clojure.tools.deps.graph"]}

           :shadow-cljs
           {:extra-deps {thheller/shadow-cljs {:mvn/version "2.10.6"}}
            :extra-paths ["env/dev" "cljs-src"]
            :main-opts ["-m" "shadow.cljs.devtools.cli"]}

           :dev {:extra-deps {refactor-nrepl {:mvn/version "2.5.0-SNAPSHOT"}
                              cider/cider-nrepl {:mvn/version "0.25.2"}}
                 :extra-paths ["env/dev" "cljs-src" "target/public/cljs-out"]}

           :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.2"}
                                    refactor-nrepl {:mvn/version "2.5.0-SNAPSHOT"}}
                       :main-opts ["-m" "nrepl.cmdline" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

           :cider-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.773"}
                                     cider/cider-nrepl {:mvn/version "0.25.2"}
                                     cider/piggieback {:mvn/version "0.5.0"}}
                        :main-opts ["-m" "nrepl.cmdline" "--middleware"
                                    "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

           :native-image
           {:main-opts ["-m clj.native-image tuftedash.core"

                        "--initialize-at-build-time"
                        "--report-unsupported-elements-at-runtime"
                        "-H:EnableURLProtocols=http,https"
                        "-H:IncludeResources=main.js"
                        "-H:Name=core" ; output file

                        ;;;; May need later
                        ;; "--initialize-at-run-time="

                        ;;;; Helpful for debugging

                        ;; "-H:+ReportExceptionStackTraces"
                        ;; "-H:+TraceClassInitialization"
                        ;; "--debug-attach" ; use jdb -attach localhost:8000

                        ;; "--enable-all-security-services"
                        ;; "--no-fallback"
                        ;; "--allow-incomplete-classpath"
                        ]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
            :extra-paths ["env/prod" "resources"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}

 :paths ["src" "cljc-src" "resources" "shadowcljs" ]

 :deps {org.clojure/tools.cli {:mvn/version "1.0.194"}
        ;; thheller/shadow-cljs {:mvn/version "2.10.6"}
        ;; org.immutant/immutant {:mvn/version "2.1.10"}
        ;; nrepl {:mvn/version "0.7.0"}
        clj-time {:mvn/version "0.15.2"}
        ;; clj-http {:mvn/version "3.10.2-OMAR1"}
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
        com.taoensso/tufte {:mvn/version "2.1.0"}
        com.taoensso/nippy {:mvn/version "2.15.0-RC1"}
        mount {:mvn/version "0.1.16"}
        hiccup {:mvn/version "1.0.5"}
        org.clojure/core.async {:mvn/version "1.2.603"}
        com.taoensso/sente {:mvn/version "1.14.0-RC2"}
        metosin/reitit {:mvn/version "0.5.2"}
        org.clojure/clojure {:mvn/version "1.10.2-alpha1"},
        ring {:mvn/version "1.8.1"}}}
